<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Combos para desayuno, brunch, picada y experencias gourmet con productos de autor, regionales y frescos">
        <meta name="keywords" content="panaderia, leudado natural, panes, masa madre, picadas, justa, desayunos, brunch, bagels, pan casero, ciabatta, pre pizzas, pan de campo, pan de molde, pan integral, panes para hamburguesas, regalo, alimentacion natural, iniciativas sustentables, productos regionales">
        <title>Justa Combos </title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/style.css" />
    </head>
    <body id="bodyCombos">

        <header>

            <nav class="navegacion">

            <ul class="menu">
                <li class="logo-menu"><a href="../index.html" class="logo">Logo</a></li>
                <li class="menu"><a href="quienes-somos.html">Quienes Somos</a> </li>
                <li class="menu"><a href="productos.html">Productos</a> </li>
                <li class="menu"><a href="combos.html">Combos</a> </li>
                <li class="menu"><a href="galeria.html">Galeria</a> </li>
                <li class="menu"><a href="contacto.html">Contacto</a> </li>
            </ul>
            </nav>

        </header>

        <main>

            <div class="titulares">
                <h2 class="titulos">Combos</h2> 
            </div>

            <section id="contenedorCombos">
            <div>
                <span>
                <img src="../fotos-justa/fakeham.jpeg" class="fakeBurger">
                </span>
                <h3>Burger Box</h3>  
                <ul class="listaCombos" >
                    <li>4 panes de hamburguesas</li>
                    <li>bolas de carne listas para cocinar</li>
                    <li>cebollas caramelizadas</li>
                    <li>queso finbo o cheddar</li>
                    <li>Opcion veggie: Burger de lentejas o arroz yamani y calabaza</li>
                </ul>  
                </div>

            <div>
                <span>
                <img src="../fotos-justa/fakebrunch.jpeg" class="fakeBrunch">
                </span>
                <h3>Brunch</h3>
                <ul class="listaCombos" >
                    <li>Té o Cafe</li>
                    <li>Pan de masa madre, queso crema y mermelada o dips (consultar dips salados)</li>
                    <li>Sandwich de jamon, queso y tomate o tomates secos, berenjenas asadas y queso eleccion</li>
                    <li>Scon de queso</li>
                    <li>Muffin de frutos rojos</li>
                    <li>Chandon 187 brute nature o vino blanco chico</li>
                    <li>2 Pancakes integrales con miel de arce</li>
                    <li>1 Jugo de Naranjas</li>
                </ul>
            </div>

            <div>
                <span>
                <img src="../fotos-justa/fakesandwich.jpeg" class="fakeSandwich">
                </span>
                <h3>Home Sandwich</h3>
                <ul class="listaCombos" >
                   <li>300 gr de Pastron casero</li> 
                    <li>Pan de masa madre o 4 ciabattas</li>
                    <li>200 gr de queso gruyere</li>
                    <li>Tapenade de aceitunas negras</li>
                    <li>Pepinos agridulces</li>
                </ul>
            </div>

            <div>
                <span>
                <img src="../fotos-justa/fakepicada.jpeg" class="fakePicada">
                </span>
                <h3>Picada</h3>
                <ul class="listaCombos" >
                   <li>Salame de campo</li> 
                    <li>Mix quesos de campo</li>
                    <li>Escabeche de berenjenas</li>
                    <li>Tomates disecados</li>
                    <li>Palitos de romero y queso con dips</li>
                </ul>
            </div>


            <div>
                <span>
                <img src="../fotos-justa/fakequesos.jpeg" class="fakeQuesos">
                </span>
                <h3>Quesos</h3>
                <ul class="listaCombos" >
                   <li>Mix quesos de campo</li> 
                    <li>Pan de campo de masa madre</li>
                    <li>Panes saborizados</li>
                    <li>Mermelada de quinotos</li>
                    <li>Botella de Vino</li>
                </ul>
            </div>


            <div>
                <span>
                <img src="../fotos-justa/fakedesayuno.jpeg" class="fakeDesayuno">
                </span>
                <h3>Desayuno</h3>
                <ul class="listaCombos" >
                   <li>Tostadas de campo</li> 
                    <li>Queso crema, mermelada casera a elección</li>
                    <li>Jugo de Naranjas</li>
                    <li>2 Croissants</li>
                    <li>Blend de té o cafe para dos</li>
                </ul>
            </div>


            <div>
                <span>
                <img src="../fotos-justa/faketerrina.jpeg" class="fakeTerrina">
                </span>
                <h3>Experiencia Gourmet</h3>
                <ul class="listaCombos" >
                   <li>Queso Brie</li> 
                    <li>Terrina de pollo</li>
                    <li>Pastrami Casero 300 gr</li>
                    <li>Pan de campo</li>
                    <li>Mix de palitos saborizados</li>
                </ul>
            </div>


            <div>
                <span>
                <img src="../fotos-justa/fakepizza.jpeg" class="fakePizza">
                </span>
                <h3>Combo Pizza</h3>
                <ul class="listaCombos" >
                   <li>4 Pre Pizzas masa madre</li> 
                    <li>Pan de campo masa madre 600gr</li>
                    <li>8 cervezas artesanales, 470gr</li>
                    <li>Faina</li>
                </ul>
            </div>

            </section>
            

        </main>
        
        <footer class="footer">

            <div class="footerDirec">
                <p class="direc">Dirección: Belén(casa de pan)</p>
            </div>
            <div class="footerRedes">
                <a href="https://www.instagram.com/justapan_/?hl=es-la" target="_blank"><img src="../fotos-justa/instagram.png" class="insta"/></a>
                <a href="wwww.facebook.com" target="_blank"><img src="../fotos-justa/facebook.png" class="feis"/></a>
                <a href="contacto.html"><img src="../fotos-justa/email.png" class="email"/></a>
            </div>

        </footer>
        
    </body>
</html>