<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Galeria de fotos de panes caseros y comidas gourmet">
        <meta name="keywords" content="panaderia, leudado natural, panes, masa madre, picadas, justa, desayunos, brunch, bagels, pan casero, ciabatta, pre pizzas, pan de campo, pan de molde, pan integral, panes para hamburguesas, regalo, alimentacion natural, iniciativas sustentables, productos regionales, fotos panaderia">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/style.css" />
        <title>Just A Gallery </title>
    </head>
    <body >
        <header>  

            <nav class="navegacion">
     
            <ul class="menu">
                <li class="logo-menu"><a href="../index.html" class="logo">Logo</a></li>
                <li class="menu"><a href="quienes-somos.html">Quienes Somos</a> </li>
                <li class="menu"><a href="productos.html">Productos</a> </li>
                <li class="menu"><a href="combos.html">Combos</a> </li>
                <li class="menu"><a href="galeria.html">Galeria</a> </li>
                <li class="menu"><a href="contacto.html">Contacto</a> </li>
            </ul>
            </nav>

        </header>

        <main>

        <div class="titulares">
            <h2 class="titulos">Galería</h2>
        </div>

        <section class="gallery" >

            <figure class="gallery__item gallery__item--1">
                <img src="../fotos-justa/galeria-miel.jpeg" class="gallery__img" alt="tostadaconmiel">
              </figure>
              <figure class="gallery__item gallery__item--2">
                <img src="../fotos-justa/galeria-bagels.jpeg" class="gallery__img" alt="Bagels">
              </figure>
              <figure class="gallery__item gallery__item--3">
                <img src="../fotos-justa/galeria-desayuno.jpeg" class="gallery__img" alt="desayuno">
              </figure>
              <figure class="gallery__item gallery__item--4">
                <img src="../fotos-justa/galeria-detalle-campo.jpeg" class="gallery__img" alt="Pandecampo">
              </figure>
              <figure class="gallery__item gallery__item--5">
                <img src="../fotos-justa/galeria-ciabatta.jpeg" class="gallery__img" alt="Ciabatta">
              </figure>
              <figure class="gallery__item gallery__item--6">
                <img src="../fotos-justa/galeria-sandwich.jpeg" class="gallery__img" alt="sandwich">
              </figure>
              <figure class="gallery__item gallery__item--7">
                <img src="../fotos-justa/masmaspanes.jpeg" class="gallery__img" alt="panes">
              </figure>
              <figure class="gallery__item gallery__item--8">
                <img src="../fotos-justa/muchos-panes.jpeg" class="gallery__img" alt="panes">
              </figure>
              <figure class="gallery__item gallery__item--9">
                <img src="../fotos-justa/galeria-agujeros.jpeg" class="gallery__img" alt="miga">
              </figure>
              <figure class="gallery__item gallery__item--10">
                <img src="../fotos-justa/galeria-cresta.jpeg" class="gallery__img" alt="crestapan">
              </figure>
              <figure class="gallery__item gallery__item--11">
                <img src="../fotos-justa/galeria-pan-frutas.jpeg" class="gallery__img" alt="panfrutas">
              </figure>
              <figure class="gallery__item gallery__item--12">
                <img src="../fotos-justa/galeria-quesos.jpeg" class="gallery__img" alt="quesos">
              </figure>

        </section>

        </main>
        
         
        <footer class="footer">

            <div class="footerDirec">
                <p class="direc">Dirección: Belén(casa de pan)</p>
            </div>
            <div class="footerRedes">
                <a href="https://www.instagram.com/justapan_/?hl=es-la" target="_blank"><img src="../fotos-justa/instagram.png" class="insta"/></a>
                <a href="wwww.facebook.com" target="_blank"><img src="../fotos-justa/facebook.png" class="feis"/></a>
                <a href="contacto.html"><img src="../fotos-justa/email.png" class="email"/></a>
            </div>

        </footer>
        
    </body>
</html>