<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Just A Pan - Productos</title>
        <meta name="description" content="Productos de panadería casera, leudado natural">
        <meta name="keywords" content="panaderia, leudado natural, panes, masa madre, picadas, justa, desayunos, brunch, bagels, pan casero, ciabatta, pre pizzas, pan de campo, pan de molde, pan integral, panes para hamburguesas, regalo, alimentacion natural, iniciativas sustentables, productos regionales">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/style.css" />
    </head>

    <body id="bodyProductos">

        <header>   

            <nav class="navegacion">
             
            <ul class="menu">
                <li class="logo-menu"><a href="../index.html" class="logo">Logo</a></li>
                <li class="menu"><a href="quienes-somos.html">Quienes Somos</a> </li>
                <li class="menu"><a href="productos.html">Productos</a> </li>
                <li class="menu"><a href="combos.html">Combos</a> </li>
                <li class="menu"><a href="galeria.html">Galeria</a> </li>
                <li class="menu"><a href="contacto.html">Contacto</a> </li>
            </ul>

            </nav>

        </header>

        <main>

            <div class="titulares" >
                <h2 class="titulos">Panes</h2>
            </div>

            <section id="productGrid" >
            <div class="imagenProductos" >
                <img src="../fotos-justa/producto-masa-madre.jpeg" alt="fotoMasaMadre" class="productoMasaMadre" />
            </div>

            <div class="descProductos" >
                <h3>Pan de masa madre casero</h3>
                <ul>
                    <li>Pan rustico  con harina 000, 10% de harina integral, sal marina y una larga fermentacion</li>
                    <li>Con un toque acido, liviano  y de miga aireada</li>
                    <li>Perfecto para desayunos, brunch, picadas y acompanar comidas</li>
                </ul> 
            </div>

            <div class="descProductos" >
                <h3>Pan semi integral de masa madre</h3>
                <ul>
                    <li>Con una selección de harinas integrales organicas, harina 000, sal marina y aceite</li>
                    <li>Con miga compacta, va muy bien tostado y en sandwiches</li>
                </ul>
            </div>

            <div class="imagenProductos"  >
                <img src="../fotos-justa/producto-semi-integral.jpeg" alt="fotoSemiIntegral" class="productoSemiIntegral"/>
            </div>

            <div class="imagenProductos" >
                <img src="../fotos-justa/producto-integral copia.jpeg" alt="fotoIntegral" class="productoIntegral">
            </div>

            <div class="descProductos" >
                <h3>Pan de molde 100% integral</h3>
                <ul>
                    <li>Elaborado con mezcla de harinas integrales de trigo organicas, centeno, sal marina, masa madre</li>
                    <li>Liviano, con mucha fibra y de miga cerrada. Ideal para desayuno, tostadas y tostados</li>
                </ul>    
            </div>

            <div class="descProductos" >
                <h3>Pan blanco de molde</h3>
                <ul>
                    <li>Pan blanco elaborado con leche, manteca, sal marina y una larga fermentacion</li>
                    <li>No apto vegano</li>
                    <li>Lacteado de harinas blancas, con miga cerrada y esponjosa ideal para tostadas y  sandwiches</li>
                </ul>
            </div>

            <div class="imagenProductos">
                <img src="../fotos-justa/producto-molde-blanco.jpeg" alt="fotoPanMolde" class="productoMolde">
            </div>

            <div class="imagenProductos"  >
                <img src="../fotos-justa/producto-bagels.jpeg" alt="fotoBagels" class="productoBagels" />
            </div>

            <div class="descProductos" >
                <h3>Bagels de masa madre</h3>
                <ul>
                    <li>Harina 000, masa madre,  sal marina y semillas de sesamo o amapola</li>
                    <li>Para sandwiches de vegetales, pollo, jamon o salmon acompanados de queso crema</li>
                </ul>
            </div>

            <div class="descProductos" >
                <h3>Pan de hamburguesas</h3>
                <ul>
                    <li>Harina 000, masa madre y papa, cubiertos con semillas de sesamo y polenta</li>
                    <li>Para hamburguesas o pulled pork</li>
                </ul> 
            </div>

            <div class="imagenProductos" >
                <img src="../fotos-justa/producto-hamburguesa.jpeg" alt="imagenPanHamburguesa" class="productoHamburguesa">
            </div>

            <div class="imagenProductos" >
                <img src="../fotos-justa/producto-ciabatta.jpeg" alt="fotoCiabatta" class="productoCiabatta" />
            </div>

            <div class="descProductos" >
                <h3>Ciabattas masa madre</h3>
                <ul>
                    <li>Harina 000, 10 % de harina integral, sal marina y oliva extra virgen</li>
                    <li>Livianas, de miga aireada y crosta crocante, ideales para sandwiches</li>
                </ul>     
            </div>

            <div class="descProductos">
                <h3>Prepizzas masa madre</h3>
                <ul>
                    <li>Harina 000, una larga fermentacion, sal marina y oliva extra virgen con salsa de tomate natural</li>
                    <li>Aptas para veganos</li>
                    <li>Para tener en el freezer y prepararlas en modo tradicional o acompanarlas con lo que quieras</li>
                </ul>
                
            </div>

            <div class="imagenProductos">
                <img src="../fotos-justa/producto-prepizza.jpeg" alt="fotoPrePizza" class="productoPrePizza" />
            </div>

            <div class="imagenProductos" >
                <img src="../fotos-justa/fakewrap.jpeg" class="fakeWrap">
            </div>

            <div class="descProductos" >
                <h3>Wrap de 100% sarraceno</h3>
                <ul>
                    <li>Trigo sarraceno  activo con sal marina</li>
                    <li>Apto vegano</li>
                    <li>Para tener en el freezer, tienen mucha fibra y todas las propiedades del trigo sarraceno, para rellenar como quieras</li>
                </ul>
            </div>

            <div class="descProductos" >
                <h3>Quiche lorraine</h3>
                <ul>
                    <li>Las originales tartas francesas de masa quebrada, individuales</li>
                    <li>No aptas veganos, hechas con manteca, harina, crema de leche, un toque de masa madre, rellenas con verduras de estacion</li>
                    <li>Solas o acompañadas de ensaladas son una excelente opcion</li>
                </ul>
            </div>

            <div class="imagenProductosDer"  >
                <img src="../fotos-justa/producto-quiche.jpg" alt="fotoQuiche" class="productoQuiche">
            </div>
            </section>

        </main>

        
        <footer class="footer">

            <div class="footerDirec">
                <p class="direc">Dirección: Belén(casa de pan)</p>
            </div>
            <div class="footerRedes">
                <a href="https://www.instagram.com/justapan_/?hl=es-la" target="_blank"><img src="../fotos-justa/instagram.png" class="insta"/></a>
                <a href="wwww.facebook.com" target="_blank"><img src="../fotos-justa/facebook.png" class="feis"/></a>
                <a href="contacto.html"><img src="../fotos-justa/email.png" class="email"/></a>
            </div>

        </footer>
        
    </body>
</html>