<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Just A Pan - Quienes Somos</title>
        <meta name="description" content="Alimentacion natural e iniciativas sustentables">
        <meta name="keywords" content="panaderia, leudado natural, panes, masa madre, picadas, justa, desayunos, brunch, bagels, pan casero, ciabatta, pre pizzas, pan de campo, pan de molde, pan integral, panes para hamburguesas, regalo, alimentacion natural, iniciativas sustentables, productos regionales">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/style.css" />
    </head>
    <body id="bodyQS">
        
        <header>  
            
            <nav class="navegacion">

            <ul class="menu">
                <li class="logo-menu"><a href="../index.html" class="logo">Logo</a></li>
                <li class="menu"><a href="quienes-somos.html">Quienes Somos</a> </li>
                <li class="menu"><a href="productos.html">Productos</a> </li>
                <li class="menu"><a href="combos.html">Combos</a> </li>
                <li class="menu"><a href="galeria.html">Galeria</a> </li>
                <li class="menu"><a href="contacto.html">Contacto</a> </li>
            </ul>
        </nav> 

        </header>

        <main>

            <div class="titulares">
            <h2 class="titulos">Just a pan</h2>   
            </div>
            
            <section class="seccionQuienes">
            <div id="parrafoQuienes">

                <h3> Quienes somos </h3>
                
                <p>Vision: Hacemos panes, cocina casera y fermentacion natural, sin conservantes con productos preferentemente agroecologicos</p>
                
                <p>Mision: Volver a la alimentacion  natural, elaborando y seleccionando productos frescos, de region y de estacion, apostando al comercio justo, la agroecologia y las iniciativas sustentables</p>
                
                <p>Estas en casa...</p>
            </div> 
            <div id="fotoQuienes">
                <img src="../fotos-justa/quienes-somos-desayuno.jpeg" alt="foto-somos" class="fotoSomos" />
            </div>
            </section>
        </main>
        
         
        <footer class="footer">

            <div class="footerDirec">
                <p class="direc">Dirección: Belén(casa de pan)</p>
            </div>
            <div class="footerRedes">
                <a href="https://www.instagram.com/justapan_/?hl=es-la" target="_blank"><img src="../fotos-justa/instagram.png" class="insta"/></a>
                <a href="wwww.facebook.com" target="_blank"><img src="../fotos-justa/facebook.png" class="feis"/></a>
                <a href="contacto.html"><img src="../fotos-justa/email.png" class="email"/></a>
            </div>

        </footer>
    </body>
</html>